# Local MongoDB example:
MONGO_URI=mongodb://localhost:27017/
DB_NAME=user_management_db
COLLECTION_NAME=users

# MongoDB Atlas example:
# MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
